// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
    color: $theme-primary;
}

body {
    @include body-font;
}

a {
    color: $theme-primary;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    @media (min-width: 992px) {
      padding: 64px 0;
    }
    h2 {
        font-size: 48px;
    }
}
@media (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    top: 20px;
    left: 20px;
    right: auto !important;
  }
  .single-page a {
      padding: 32px 18px;
      line-height: 38px !important;
  }
  #mainNav .navbar-nav > li > a {
    font-size: 15px !important;
  }

}
.bigimg {
    text-align: center;
     @media (max-width: 991px) {
        margin-top: 32px;
    }
}
.bigimg img {
    width: 100%;
    max-width: 360px;
    max-height: 670px;
}
.lightsoff { 
  background: $theme-primary;
  color: #fff;
  position: relative;
  @media (min-width: 992px) {
    .back {
      background: url(../img/lightsback.png) no-repeat bottom;
    }
  }
  p {
    margin-bottom: 0px;
  }
  &.dime {
    background: #30485B;
  @media (min-width: 992px) {
    .back {
      background: url(../img/lightsback.png) no-repeat bottom;
    }
  }
  }
  @media (min-width: 992px) {
        height: 100vh;
    }
    img {
        max-width: 880px;
        width: 100%;
        max-height: 900px;
        padding: 10px;
    }
    h2 {
      margin-bottom: 40px;
    }
    ul {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 40px;
      text-align: left;
      li {
        line-height: 42px;
      }
    }
}

.video {
  padding: 80px 0;
    .macbook {
      background: url(../img/macbook.png) no-repeat center;
      background-size: 1200px;
      width: 1200px;
      height: 750px;
      transition: all .4s ease-in-out;
      margin: 0 auto;
      @media (max-width: 991px) {
        background-size: 900px;
        width: 900px;
        height: 600px;
        margin: 0 auto;
      }
      @media (max-width: 767px) {
        background-size: 600px;
        width: 600px;
        height: 500px;
        margin: 0 auto;
      }
      @media (max-width: 575px) {
        background-size: 360px;
        width: 360px;
        height: 300px;
        margin: 0 auto;
      }
      &:hover {
          background: url(../img/macbookhover.png) no-repeat center;
          background-size: 1200px;
          width: 1200px;
          height: 750px;
          margin: 0 auto;
          @media (max-width: 991px) {
            background-size: 900px;
            width: 900px;
            height: 600px;
            margin: 0 auto;
          }
          @media (max-width: 767px) {
            background-size: 600px;
            width: 600px;
            height: 500px;
            margin: 0 auto;
          }
          @media (max-width: 575px) {
            background-size: 360px;
            width: 360px;
            height: 300px;
            margin: 0 auto;
          }
      }
    }
    h2 {
       @media (min-width: 992px) {
        font-size: 66px;
      }
      margin-bottom: 32px;
      font-weight: bold;
    }
    p {
      font-size: 32px;
      @media (min-width: 992px) {
      margin-bottom: 10px;
      }
    }
}
.travel {
  padding: 60px 0;
  background: $main-color;
  color: #ffffff;
  h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    img {
      padding-bottom: 10px;
      margin-right: 8px;
    }
  }
  p {
      font-size: 24px;
  }
}
.faq {
  p {
    font-size: 20px !important;
  }
  h2 {
        padding: 30px 0 60px 0;
        font-weight: bold;
        margin-bottom: 52px;
        margin-top: 90px;
        @media (min-width: 992px) {
          font-size: 66px;
        }
        @media (max-width: 991px) {
            text-align: center;
            margin-bottom: 40px;
            }
         }
}
.wireframes {
  background: $main-color;
  color: #fff;
  .back {
    background: url(../img/wire-back.png) no-repeat right;
  }
  h2 {
    margin-bottom: 6px !important;
  }
  p {
    margin: 56px 0;
  }
}
.components, .lightsoff, .buyit, .wireframes {
    @media (max-width: 991px) {
      padding: 64px 0;
        .mobile {
            order: 2;
        }
        div {
           text-align: center;
        }
    }
    h2 {
        font-weight: bold;
        
        margin-bottom: 52px;
        @media (min-width: 992px) {
          font-size: 66px;
        }
         }
    p {
        font-size: 24px;
        @media (max-width: 991px) {
            text-align: left !important;
            
         }
   }
    .comp {
        height: 100%;
    }
}
.buyit {
  img {
    width: 180px;
    padding-bottom: 20px;
  }
  @media (min-width: 992px) {
        height: 100vh;
        .row {
            height: -moz-available;          /* WebKit-based browsers will ignore this. */
            height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
            height: fill-available;
        }
    }
    h2 {
      color: $main-color;
      padding: 60px 0 10px 0;
    }
    p {
      font-size: 16px;
    }
}
.buyit, .follow {

    .pricetable {
        padding: 24px;
        border-radius: 8px;
        box-shadow: 0 1px 46px 11px rgba(13,45,75,0.1);
        transition: all 0.5s ease;
        &:hover {
            box-shadow: 0 1px 20px 11px rgba(13,45,75,0.1);
            transform: scale(0.96);
        }
        small {
            font-size: 17px;
        }
        h4 {
            font-weight: bold;
            font-size: 22px;
        }
        ul {
          text-align: left;
          list-style: none;
        }
        ul li:before {
          content: '✔ ';
          color: $main-color;
        }
        ul li.no:before {
          content: '✖ ';
          color: $gray-light;
        }
        h3 {
            font-weight: bold;
            font-size: 30px;
            color: $main-color;
            margin: 24px 0 0 0;
        }
        h4 {
          margin-bottom: 24px;  
        }
        span {
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 32px;
            display: block;
        }
        .btn {
            padding: 16px 24px 16px 24px;
            border-radius: 4px;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            box-shadow: 0 1px 6px 0 rgba(0,0,0,0.28);
        }
        @media (max-width: 991px) {
            margin: 24px;
        }
    }
}

a.mac {
  width: 100%;
  cursor: pointer;
}
@media (max-width: 991px) {

  .first h2 {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 1.5s;
  }
  .already-visible {
    transform: translateY(0);
    animation: none;
  }

  @keyframes come-in {
    to { transform: translateY(0); }
  }
}
.gumroad-follow-form-embed { zoom: 1; } 
.gumroad-follow-form-embed:before, .gumroad-follow-form-embed:after { display: table; line-height: 0; content: ""; } 
.gumroad-follow-form-embed:after { clear: both; } 
.gumroad-follow-form-embed * { margin: 0; border: 0; padding: 0; outline: 0; box-sizing: border-box !important; float: left !important; } 
.gumroad-follow-form-embed input { 
    border-radius: 8px; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-right: 0;
    color: #aaa;
    padding: 10px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02);
    background-position: top right;
    background-repeat: no-repeat;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: caret;
    width: 65% !important;
    height: 52px !important;
    font-size: 18px;
   } 
.gumroad-follow-form-embed button { border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    -webkit-transition: all .05s ease-in-out;
    transition: all .05s ease-in-out;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    line-height: 100%;
    background: #006fff;
    border: 1px solid #0064e6;
    background: $main-color;
    height: 52px !important;
    width: 35% !important;
 }