.masthead {
    @media (min-width: 992px) {
        height: 100vh;
    }
    @media (max-width: 991px) {
        .mobile {
            order: 2;
        }
    }
    p {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 32px;
    }
    h1 {
    font-weight: bolder;
    
        span {
            font-weight: 400;
        }
        @media (min-width: 992px) {
            margin: 0 0 40px 0;
           font-size: 80px;
           line-height: 90px;
        }
        @media (max-width: 991px) {
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
    .btn {
        padding: 24px 66px 24px 66px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.28);
        @media (max-width: 991px) {
            margin-bottom: 20px;
        }
    .btn-primary {
        background-color: #0070FF;
        border-color: #0070FF;
        }
    }
    .compatible {
        @media (min-width: 992px) { 
            margin-top: 56px;
        }
        color: #757575;
        font-size: 24px;
        p {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 4px;
        }

    }
}